<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" defaultHref="/tabs/characters">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ character?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="character" class="movie-card">
    <ion-card-header>Nickname: {{ character.nickname }}</ion-card-header>
    <ion-card-content>
      <img src="{{ character.img }}" alt="{{ character.nickname }}" width="300" height="300">
    </ion-card-content>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="recording-outline" slot="start"></ion-icon>
      Seasons: {{ character.category }}
    </ion-item>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="heart-outline" slot="start"></ion-icon>
      Status: {{ character.status }}
    </ion-item>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="briefcase-outline" slot="start"></ion-icon>
      Occupation: {{ character.occupation }}
    </ion-item>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Date of Birth: {{ character.birthday }}
    </ion-item>
  </ion-card>
</ion-content>